.App {
  width: 512px;
  height: 768px;

  background: white;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);

  margin: 0 auto;

  margin-top: 96px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 50px;
}
.gameDescription {
  text-align: center;
}

ol {
  border: 1px solid black;
  border-radius: 10px;
  padding: 25px;
}

.selectLevel {
  margin: 30px;
  text-align: center;
}

select {
  width: 150px;
  margin: 15px;
}

.startButton {
  width: 512px;
}
